<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30100">
      <setting id="Lang01" type="select" label="30101" default="1" lvalues="30212|30218|30215|30236" />
      <setting id="Lang02" type="select" label="30102" default="0" lvalues="30212|30218|30215|30236" />
      <setting id="Lang03" type="select" label="30111" default="2" lvalues="30212|30218|30215|30236" />
    </category>
    <category label="30103">
      <setting id="OpenSubtitles" type="bool" label="OpenSubtitles.org" default="true"/>
      <setting id="Podnapisi" type="bool" label="Podnapisi.net" default="false"/>
      <setting id="PNuser" type="text"  visible= "eq(-1,true)" enable="eq(-1,true)" label="30104" default=""/>
      <setting id="PNpass" type="text" option = "hidden" visible= "eq(-2,true)" enable="eq(-2,true)" label="30105" default=""/> 
      <setting id="Subtitle" type="bool" label="Subtitle.co.il" default="false"/>
      <setting id="SUBuser" type="text"  visible= "eq(-1,true)" enable="eq(-1,true)" label="30248" default=""/>
      <setting id="SUBpass" type="text" option = "hidden" visible= "eq(-2,true)" enable="eq(-2,true)" label="30249" default=""/> 
	  <setting id="Subscenter" type="bool" label="Subscenter.org" default="true"/>
    </category>
    <category label="30106">
      <setting id="defmovieservice" type="select" mask="/" label="30113" default="Subtitle" source="/resources/lib/services" />
      <setting id="deftvservice" type="select" mask="/" label="30114" default="Subtitle" source="/resources/lib/services" />    
      <setting id="subfolder" type="bool" label="30107" default="true" />
      <setting id="subfolderpath" type="folder" visible= "eq(-1,false)" source="files" label="30108" default="" />
      <setting id="searchstr" type="bool" label="30110" default="false"/>
      <setting id="fil_name" type="bool" label="30118" default="false"/>
      <setting id="par_folder" type="bool" label="30119" default="false"/>
      <setting id="lang_to_end" type="bool" label="30121" default="true" />
      <setting id="use_subs_folder" type="bool" label="30145" default="false" />
      <setting id="timeout" type="enum" label="30122" default="15" values="0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25" />
      <setting id="search_next" type="bool" label="30130" default="true" />
      <setting id="pause" type="bool" label="30160" default="true" />
      <setting id="auto_download" type="bool" label="30131" default="false" />
      <setting id="auto_download_file" visible= "false" type="text" label="" default="" />
    </category>
</settings>
